<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>name</th>
      <th>color</th>
      <th>sex</th>
      <th>species(Common name, Latin name)</th>
      <th>persons</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let animals of animals">
      <td>{{animals.id}}</td>
      <td>{{animals.name}}</td>
      <td>{{animals.color}}</td>
      <td>{{animals.sex}}</td>
      <td>{{animals.species?.commonName + ', ' + animals.species?.latinName}}</td>
      <td>{{animals.persons}}</td>
<!--      <button *ngIf="authService.isLoggedIn() && authService.role .includes('ROLE_ADMIN')"-->
<!--              routerLink="/animals/edit/{{animals.id}}">Edit-->
<!--      </button>-->
      <button *ngIf="authService.isLoggedIn() && authService.role.includes('ROLE_ADMIN')"
              (click)="deleteAnimal(animals.id)">
        Delete
      </button>
      <button *ngIf="authService.isLoggedIn() && authService.role .includes('ROLE_ADMIN')"
              routerLink="/animals/edit/{{animals.id}}">Edit
      </button>
    </tr>
  </tbody>
</table>

<button *ngIf="authService.isLoggedIn() && authService.role .includes('ROLE_ADMIN')"
        routerLink="/animals/add">Create new animal
</button>



