<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Common Name</th>
    <th>Latin Name</th>
    <th>Actions</th>
    <th><a *ngIf="authService.isLoggedIn()" routerLink="/species/create">Create Species</a></th>
    <th><input [(ngModel)]="filter" (input)="applyFilter($event.target)" placeholder="Filter species">
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let species of species">
    <td>{{ species.id }}</td>
    <td>{{ species.commonName }}</td>
    <td>{{ species.latinName }}</td>
    <td>
      <button *ngIf="authService.isLoggedIn() && authService.role .includes('ROLE_ADMIN')"
              routerLink="/species/edit/{{species.id}}">Edit
      </button>
      <button *ngIf="authService.isLoggedIn() && authService.role .includes('ROLE_ADMIN')"
              (click)="deleteSpecies(species.id)">
        Delete
      </button>
    </td>
  </tr>
  </tbody>
</table>
