<form (ngSubmit)="createAnimal()">
  <label>
    Name:
    <input [(ngModel)]="animals.name" name="commonName">
  </label>
  <label>
    Color:
    <input [(ngModel)]="animals.color" name="latinName">
  </label>
  <label>
    Sex:
    <input [(ngModel)]="animals.sex" name="latinName">
  </label>
  <label>
    Species:
    <select [(ngModel)]="animals.species" name="species">
      <option *ngFor="let specie of species" [value]="specie.id">
        {{ specie.commonName }}
      </option>
    </select>
  </label>
  <label>
    Persons:
    <input [(ngModel)]="animals.persons" name="latinName">
  </label>
  <button type="submit">Create</button>
</form>
